datasets==2.16.1
evaluate==0.4.1
flask==2.3.3
huggingface-hub==0.20.3
numpy==1.26.4
tokenizers==0.15.2
tqdm==4.66.1
transformers==4.37.2
scikit-learn==1.4.0
# git clone --single-branch --branch fast_tokenizers_BARTpho_PhoBERT_BERTweet https://github.com/datquocnguyen/transformers.git
# cd transformers
# pip3 install -e .
